.layout-main-container {
    padding: 16rem 2rem 2rem 4rem;
}

.layout-topbar .layout-topbar-logo {
	width: 225px;
}

.p-badge.p-badge-xl {
    font-size: 2rem;
    min-width: 4rem;
    height: 4rem;
    line-height: 4rem;
}

.grid {
	align-items: baseline;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(0,51,153);
}

.p-inputnumber-input {
    width: 100px;
}

.p-badge {
	border-radius: 30px;
}
	// color: rgb(0,51,153);        // Blue
	// color: rgb(159,174,229);     // Light blue
	// color: rgb(255,204,0);       // Yellow
	// color: rgb(253,198,8);       // Orange
	// color: rgb(152,194,34);      // Light green
	// color: rgb(21,153,97);       // Green